@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --TextColor: #f5f5f5;
  --purple-color: #a829f1;
  --MainBackgroundColor: #141414;
}
body {
  background-color: var(--MainBackgroundColor);
  color: var(--TextColor);
  font-family: "Poppins", sans-serif;
}
.iconHover {
  background-color: transparent;
  color: var(--TextColor);
}
.purple-text {
  color: var(--purple-color);
}

.headerMainBox {
  border-bottom: 1px solid #5f5f5fb9;
}

.roundedBtn {
  border: 1px solid var(--purple-color);
  @apply rounded-full;
}
.roundedBtn:hover {
  border: 1px solid var(--TextColor);
}
